In [101]:
import requests as reqs
from requests.packages.urllib3.exceptions import InsecureRequestWarning
reqs.packages.urllib3.disable_warnings(InsecureRequestWarning)
import pandas as pd

In [102]:
sc="https://www.meteo.lv/josso_security_check"
sec_check=reqs.post(sc)
cookies=sec_check.cookies.get_dict()
cookies["JSESSIONID"]

'C1813809A437971012467E949CE75D2F'

In [103]:
url="https://www.meteo.lv/meteorologija-datu-meklesana/?"

headers={
"Content-Type":"application/x-www-form-urlencoded",
"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36",
"Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
"Referer": "https://www.meteo.lv/meteorologija-datu-meklesana/?nid=461",
"Cookie": "JSESSIONID="+cookies["JSESSIONID"]
}

In [104]:
import json
saraksts=reqs.get("https://www.meteo.lv/klasifikatoru-filtrs/?iBy=station&iStation=&iParameter=4001&pMonitoringType=METEOROLOGY")
saraksts= json.loads(saraksts.text)

In [105]:
stacijuSaraksts={}
for each in saraksts["stations"][1:]:
    stacijuSaraksts[each["id"]]=each["name"]

parametruSaraksts={}
for each in saraksts["parameters"][1:]:
    parametruSaraksts[each["id"]]=each["name"]

In [106]:
parametruSaraksts

{'4515': 'Aramkārtas temperatūra 15 cm dziļumā, faktiskā',
 '4516': 'Aramkārtas temperatūra 20 cm dziļumā, faktiskā',
 '4513': 'Aramkārtas temperatūra 5 cm dziļumā, faktiskā',
 '4167': 'Atmosfēras spiediens stacijas līmenī, faktiskais',
 '4457': 'Augsnes virsmas stāvoklis',
 '4459': 'Augsnes virsmas temperatūra, faktiskā',
 '4464': 'Augsnes virsmas temperatūra, stundas maksimālā',
 '4462': 'Augsnes virsmas temperatūra, stundas minimālā',
 '4327': 'Augšējo mākoņu forma',
 '4001': 'Gaisa temperatūra, faktiskā',
 '4008': 'Gaisa temperatūra, maksimālā iepriekšējo 3 stundu laikā',
 '4003': 'Gaisa temperatūra, minimālā iepriekšējo 3 stundu laikā',
 '4006': 'Gaisa temperatūra, stundas maksimālā',
 '4004': 'Gaisa temperatūra, stundas minimālā',
 '4002': 'Gaisa temperatūra, stundas vidējā',
 '4321': 'Kopējais mākoņu daudzums',
 '10307': 'Laika apstakļi 1. kods pēdējā 1 stundā;A',
 '10308': 'Laika apstakļi 2. kods pēdējā 1 stundā;A',
 '10306': 'Laika apstakļi, faktiskie;A',
 '4627': 'Laika apstākļi novērojumu termiņā',
 '4676': 'Meteoroloģiskā redzamība',
 '9954': 'Meteoroloģiskā redzamība faktiskā',
 '4674': 'Meteoroloģiskā redzamība, stundas maksimālā',
 '4672': 'Meteoroloģiskā redzamība, stundas minimālā',
 '4323': 'Mākoņu augstums',
 '10193': 'Mākoņu augstums 1',
 '10194': 'Mākoņu augstums 2',
 '10195': 'Mākoņu augstums 3',
 '10196': 'Mākoņu daudzums 1',
 '10197': 'Mākoņu daudzums 2',
 '10198': 'Mākoņu daudzums 3',
 '9536': 'Nokrišņu daudzums 10 minūšu laika intervālā',
 '4568': 'Nokrišņu daudzums starp termiņiem',
 '4570': 'Nokrišņu daudzums, stundas summa',
 '4628': 'Pagājušie laika apstākļi 1',
 '4629': 'Pagājušie laika apstākļi 2',
 '4224': 'Piekrastes vēja brāzmas, stundas maksimālās',
 '4317': 'Piekrastes vēja virziens, faktiskais',
 '4220': 'Piekrastes vēja ātrums, faktiskais',
 '4223': 'Piekrastes vēja ātrums, stundas minimālās',
 '4670': 'Redzamība jūras virzienā',
 '4080': 'Relatīvais mitrums, faktiskais',
 '4084': 'Relatīvais mitrums, stundas maksimālais',
 '4082': 'Relatīvais mitrums, stundas minimālais',
 '4606': 'Saules spīdēšanas ilgums, stundas summa',
 '4342': 'Sniega segas biezums',
 '4341': 'Sniega segas biezums, stundas vidējais',
 '4343': 'Sniega segas biezums, termiņā 18',
 '4344': 'Sniega segas seguma pakāpe stacijas apkārtnē',
 '4530': 'Summārā radiācija, stundas maksimālā',
 '4528': 'Summārā radiācija, stundas minimālā',
 '4527': 'Summārā radiācija, stundas vidējā',
 '10188': 'Temperatūra zem dabiskās veģetācijas virsmas 0.1 m dziļumā, faktiskā',
 '4495': 'Temperatūra zem dabiskās veģetācijas virsmas 0.2 m dziļumā, faktiskā',
 '4496': 'Temperatūra zem dabiskās veģetācijas virsmas 0.4 m dziļumā, faktiskā',
 '4497': 'Temperatūra zem dabiskās veģetācijas virsmas 0.8 m dziļumā, faktiskā termiņā 12',
 '10253': 'Temperatūra zem dabiskās veģetācijas virsmas 1.6 m dziļuma, faktiskā',
 '4499': 'Temperatūra zem dabiskās veģetācijas virsmas 1.6 m dziļumā, faktiskā termiņā 12',
 '4500': 'Temperatūra zem dabiskās veģetācijas virsmas 3.2 m dziļumā, faktiskā termiņā 12',
 '9880': 'Temperatūra zāles augstumā, faktiskā',
 '4494': 'Temperatūra zāles augstumā, minimālā starp novērojumu termiņiem',
 '9882': 'Temperatūra zāles augstumā, stundas maksimālā',
 '9883': 'Temperatūra zāles augstumā, stundas maksimālā',
 '9881': 'Temperatūra zāles augstumā, stundas minimālā',
 '9884': 'Temperatūra zāles augstumā, stundas vidējā',
 '10254': 'Temperatūras zem dabiskās veģetācijas virsmas 3.2 m dziļuma, faktiskā',
 '10252': 'Temperatūta zem dabiskās veģetācijas virsmas 0.8 m dziļuma, faktiskā',
 '4544': 'Ultravioletā radiācija, stundas maksimālā',
 '4542': 'Ultravioletā radiācija, stundas minimālā',
 '4541': 'Ultravioletā radiācija, stundas vidējā',
 '4330': 'Vidējo mākoņu forma',
 '4212': 'Vēja brāzmas, maksimālās starp termiņiem',
 '4218': 'Vēja brāzmas, stundas maksimālās',
 '10208': 'Vēja virziens, faktiskais (10 minūšu vidējais)',
 '4313': 'Vēja virziens, faktiskais (2 minūšu vidējais)',
 '4211': 'Vēja ātrums, faktiskais',
 '4214': 'Vēja ātrums, mērījumi ar vējrādi, faktiskais',
 '4216': 'Vēja ātrums, stundas minimālais',
 '4322': 'Zemo mākoņu daudzums',
 '4324': 'Zemo mākoņu forma'}

Vispirms savācam nokrišņus no Jelgavas, 2017-2021

In [110]:
stationID=30036 # 30094 - Rīga, 30036 - Jelgava
paramID=4570 # 4001 - gaisa temp vidējā, 4341 - sniega sega stundas vidējā, 4570 nokrišņu daudzums stundas summa
startYear=2017
endYear=2021

In [109]:
for year in range(startYear,endYear+1):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    params="iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation="+str(stationID)+"&iParameter="+str(paramID)+"&iDateFrom="+StartDate+"&iDateTill="+EndDate
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    print(fname)
    
    result=reqs.post(url,verify=False,data=params, headers=headers)
    print(url,params)
    with open(fname, 'wb') as f:
        f.write(result.content)

Jelgava_Nokrišņu daudzums, stundas summa_01.01.2017-31.12.2017.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4570&iDateFrom=01.01.2017&iDateTill=31.12.2017

In [111]:
df=[]

for enum, year in enumerate(range(startYear,endYear+1)):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    #df[enum]=pd.read_excel(fname)
    df.append(pd.read_excel(fname,skiprows=1,parse_dates=["Datums \ Laiks"],index_col=0,dayfirst=True))
    #df[enum]["vidējā"]=df[enum].mean(axis=1)
    df[enum]["summa"]=df[enum].sum(axis=1)

In [112]:
nokrisni=pd.concat(df)
nokrisni=nokrisni[["summa"]]
nokrisni

                summa
Datums \ Laiks
2017-01-01        0.2
2017-01-02        0.8
2017-01-03        0.0
2017-01-04        4.0
2017-01-05        0.2
...               ...
2021-12-27        0.0
2021-12-28        0.0
2021-12-29        0.0
2021-12-30        0.5
2021-12-31        1.7

[1826 rows x 1 columns]

In [51]:
fname2=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +str(startYear)+"-" \
    +str(endYear)+".xls"
dataf.to_excel(fname2)

tālāk savācam temperatūru no Jelgavas, 2017-2021

In [127]:
stationID=30036 # 30094 - Rīga, 30036 - Jelgava
paramID=4001 # 4001 - gaisa temp vidējā, 4341 - sniega sega stundas vidējā, 4570 nokrišņu daudzums stundas summa
startYear=2017
endYear=2021

In [55]:
for year in range(startYear,endYear+1):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    params="iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation="+str(stationID)+"&iParameter="+str(paramID)+"&iDateFrom="+StartDate+"&iDateTill="+EndDate
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    print(fname)
    
    result=reqs.post(url,verify=False,data=params, headers=headers)
    print(url,params)
    with open(fname, 'wb') as f:
        f.write(result.content)

Jelgava_Gaisa temperatūra, faktiskā_01.01.2017-31.12.2017.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4001&iDateFrom=01.01.2017&iDateTill=31.12.2017
Jelgava_Gaisa temperatūra, faktiskā_01.01.2018-31.12.2018.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4001&iDateFrom=01.01.2018&iDateTill=31.12.2018
Jelgava_Gaisa temperatūra, faktiskā_01.01.2019-31.12.2019.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4001&iDateFrom=01.01.2019&iDateTill=31.12.2019
Jelgava_Gaisa temperatūra, faktiskā_01.01.2020-31.12.2020.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4001&iDateFrom=01.01.2020&iDateTill=31.12.2020
Jelgava_Gaisa temperatūra, faktiskā_01.01.2021-31.12.2021.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4001&iDateFrom=01.01.2021&iDateTill=31.12.2021

In [128]:
df=[]

for enum, year in enumerate(range(startYear,endYear+1)):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    #df[enum]=pd.read_excel(fname)
    df.append(pd.read_excel(fname,skiprows=1,parse_dates=["Datums \ Laiks"],index_col=0,dayfirst=True))
    df[enum]["dienas vidējā temperatūra, C"]=df[enum].mean(axis=1)
    #df[enum]["vidējā"]=df[enum].mean(axis=1)

In [67]:
df

[                00:00  01:00  02:00  03:00  04:00  05:00  06:00  07:00  08:00  \
 Datums \ Laiks
 2017-01-01        6.3    6.5    6.5    6.5    6.4    6.4    6.3    6.2    6.2
 2017-01-02        3.5    2.2    2.4    1.9    1.3    0.5    0.9    1.1    0.6
 2017-01-03       -2.4   -1.6   -1.5   -2.2   -2.6   -2.7   -2.5   -2.2   -2.8
 2017-01-04       -2.1   -1.6   -1.3   -2.0   -2.3   -2.4   -2.4   -2.3   -2.4
 2017-01-05      -12.4  -12.9  -13.1  -13.4  -13.4  -13.1  -12.9  -13.1  -13.2
 ...               ...    ...    ...    ...    ...    ...    ...    ...    ...
 2017-12-27        3.1    2.9    2.6    2.3    2.4    1.5    1.5    1.3    1.2
 2017-12-28        2.0    1.5    2.0    2.1    2.2    2.3    2.6    2.9    3.0
 2017-12-29        3.2    3.1    3.3    3.3    3.2    3.0    3.0    3.0    2.7
 2017-12-30        2.7    2.1    2.3    2.5    2.5    1.9    1.0    1.1    0.6
 2017-12-31       -0.4   -0.4   -0.4   -0.3    0.0    0.0   -0.1   -0.2   -0.4

                 09:00  ...  15:00  16:00  17:00  18:00  19:00  20:00  21:00  \
 Datums \ Laiks         ...
 2017-01-01        6.2  ...    6.2    6.2    6.1    6.0    5.9    5.8    5.3
 2017-01-02        1.4  ...    1.9    0.5   -0.6   -0.9   -1.0   -1.4   -1.8
 2017-01-03       -2.8  ...   -1.3   -3.1   -4.3   -3.7   -4.2   -4.2   -3.7
 2017-01-04       -2.5  ...   -3.3   -4.4   -5.4   -6.6   -7.7   -8.4  -10.1
 2017-01-05      -13.5  ...  -12.2  -13.0  -13.2  -13.1  -13.7  -14.2  -14.4
 ...               ...  ...    ...    ...    ...    ...    ...    ...    ...
 2017-12-27        1.6  ...    1.5    1.5    1.2    1.4    1.2    1.7    2.0
 2017-12-28        2.8  ...    4.6    4.7    5.1    4.9    4.6    4.6    4.4
 2017-12-29        2.8  ...    3.5    3.3    3.2    3.2    3.4    2.5    2.3
 2017-12-30        0.4  ...    2.5    1.8    1.4    0.8    0.5    0.1   -0.3
 2017-12-31       -0.4  ...    0.4    0.5    0.5    0.6    0.4    0.4    0.4

                 22:00  23:00     vidējā
 Datums \ Laiks
 2017-01-01        4.7    3.6   6.016667
 2017-01-02       -1.3   -1.4   0.800000
 2017-01-03       -3.6   -2.9  -2.641667
 2017-01-04      -11.2  -12.0  -4.291667
 2017-01-05      -14.9  -15.3 -13.229167
 ...               ...    ...        ...
 2017-12-27        2.2    2.2   1.958333
 2017-12-28        4.2    3.6   3.491667
 2017-12-29        1.7    2.2   2.983333
 2017-12-30       -0.1   -0.3   1.358333
 2017-12-31        0.5    0.5   0.029167

 [365 rows x 25 columns],
                 00:00  01:00  02:00  03:00  04:00  05:00  06:00  07:00  08:00  \
 Datums \ Laiks
 2018-01-01        0.6    0.9    0.8    0.5    0.7    1.2    1.4    1.6    1.9
 2018-01-02        4.2    3.7    3.2    2.9    2.6    1.7    1.9    2.1    1.7
 2018-01-03        2.0    2.0    2.3    2.6    2.5    2.6    2.6    2.5    2.7
 2018-01-04        2.9    2.1    2.0    2.3    2.4    2.5    2.8    3.0    2.9
 2018-01-05        4.0    3.6    3.9    4.1    4.1    3.5    3.7    4.2    4.7
 ...               ...    ...    ...    ...    ...    ...    ...    ...    ...
 2018-12-27        1.1    0.7    1.0    0.0    0.0   -0.3   -0.2    0.3    0.6
 2018-12-28        1.1    0.8    1.2    1.7    1.6    1.6    1.9    1.7    2.1
 2018-12-29        2.5    1.6    2.2    2.2    2.2    2.1    1.0    1.1    1.4
 2018-12-30        1.7    1.6    1.5    1.6    1.8    1.8    1.6    1.4    0.9
 2018-12-31        1.3    1.3    1.1    0.6    0.3    0.2    0.2    0.2    0.3

                 09:00  ...  15:00  16:00  17:00  18:00  19:00  20:00  21:00  \
 Datums \ Laiks         ...
 2018-01-01        2.1  ...    5.7    6.3    6.2    6.3    6.3    5.9    5.9
 2018-01-02        1.5  ...    2.5    2.0    1.9    2.4    2.0    1.8    1.6
 2018-01-03        2.9  ...    3.2    2.9    2.7    2.8    3.0    3.1    3.3
 2018-01-04        3.1  ...    3.9    4.0    4.3    4.6    4.6    4.7    4.1
 2018-01-05        4.5  ...    3.7    3.1    3.2    3.5    3.6    3.9    4.3
 ...               ...  ...    ...    ...    ...    ...    ...    ...    ...
 2018-12-27        0.9  ...    1.7    1.7    1.6    1.1    1.0    1.4    1.0
 2018-12-28        2.0  ...    1.9    1.5    0.7    0.8    1.1    1.7    1.3
 2018-12-29        1.6  ...    1.0    1.1    1.3    1.4    1.7    1.7    1.5
 2018-12-30        1.0  ...    1.6    1.5    1.4    1.4    1.2    1.2    1.1
 2018-12-31        0.2  ...    0.0    0.3   -0.3   -0.1   -0.3   -0.2    0.1

                 22:00  23:00    vidējā
 Datums \ Laiks
 2018-01-01        5.0    4.2  3.266667
 2018-01-02        1.6    1.8  2.258333
 2018-01-03        3.3    3.1  2.866667
 2018-01-04        3.9    3.9  3.433333
 2018-01-05        5.1    5.1  4.050000
 ...               ...    ...       ...
 2018-12-27        1.4    1.6  0.975000
 2018-12-28        1.9    1.6  1.562500
 2018-12-29        1.7    1.5  1.595652
 2018-12-30        1.3    1.3  1.404167
 2018-12-31        0.2    0.4  0.270833

 [365 rows x 25 columns],
                 00:00  01:00  02:00  03:00  04:00  05:00  06:00  07:00  08:00  \
 Datums \ Laiks
 2019-01-01        0.5    0.6    0.9    1.0    1.1    1.4    1.9    2.6    2.5
 2019-01-02        2.2    1.9    1.5    2.1    1.3    0.7    0.4    0.3    0.3
 2019-01-03       -2.9   -2.9   -2.6   -2.7   -3.1   -3.4   -3.4   -3.5   -3.3
 2019-01-04       -5.6   -8.4  -10.6  -10.5   -9.4   -9.0   -7.5   -6.8   -6.1
 2019-01-05        1.2    1.3    1.7    1.4    1.1    0.8    0.5    0.4    0.2
 ...               ...    ...    ...    ...    ...    ...    ...    ...    ...
 2019-12-27        0.5    0.4    0.5    0.5    0.3    0.3    0.3    0.4    0.4
 2019-12-28        0.0   -0.3   -0.5   -0.6   -0.6   -0.6   -0.7   -0.8   -1.1
 2019-12-29       -1.2   -1.2   -1.3   -1.3   -1.1   -1.8   -2.6   -3.1   -3.2
 2019-12-30        1.4    1.5    1.5    1.5    1.5    1.7    1.8    2.2    2.3
 2019-12-31        6.6    6.7    6.7    6.6    6.8    7.0    6.9    6.5    NaN

                 09:00  ...  15:00  16:00  17:00  18:00  19:00  20:00  21:00  \
 Datums \ Laiks         ...
 2019-01-01        2.8  ...    4.9    4.8    4.5    3.9    3.7    3.2    3.2
 2019-01-02        0.4  ...   -0.8   -1.1   -1.4   -1.7   -2.1   -2.1   -2.0
 2019-01-03       -3.3  ...   -3.4   -3.4   -3.4   -3.4   -3.4   -3.4   -3.7
 2019-01-04       -5.1  ...   -3.1   -2.9   -2.6   -1.9   -0.5    0.3    0.7
 2019-01-05       -0.4  ...   -3.9   -4.3   -4.5   -5.0   -4.9   -4.8   -4.9
 ...               ...  ...    ...    ...    ...    ...    ...    ...    ...
 2019-12-27        0.6  ...    1.1    1.2    1.4    1.1    1.0    0.8    0.7
 2019-12-28       -0.4  ...   -0.3   -0.3   -0.2   -0.3   -0.5   -0.6   -0.8
 2019-12-29       -3.6  ...   -0.3   -0.8   -0.3   -0.2    0.1    0.7    0.8
 2019-12-30        2.6  ...    6.1    6.4    6.3    6.3    6.3    6.3    6.1
 2019-12-31        4.6  ...    5.4    5.3    4.7    4.4    2.8    3.0    3.0

                 22:00  23:00    vidējā
 Datums \ Laiks
 2019-01-01        2.8    2.7  2.962500
 2019-01-02       -2.4   -2.8 -0.250000
 2019-01-03       -3.8   -5.0 -3.383333
 2019-01-04        1.2    1.1 -4.416667
 2019-01-05       -5.0   -5.6 -1.945833
 ...               ...    ...       ...
 2019-12-27        0.5    0.3  0.737500
 2019-12-28       -0.9   -1.1 -0.541667
 2019-12-29        1.0    1.3 -1.112500
 2019-12-30        6.0    6.2  4.058333
 2019-12-31        2.1    2.1  5.145455

 [365 rows x 25 columns],
                 00:00  01:00  02:00  03:00  04:00  05:00  06:00  07:00  08:00  \
 Datums \ Laiks
 2020-01-01        2.4    1.9    1.1   -1.0    0.6    0.1    0.0   -0.2    0.0
 2020-01-02        4.3    3.6    3.5    3.4    3.1    4.4    4.6    4.6    4.7
 2020-01-03        2.9    2.2    1.9    1.4    2.3    2.4    2.5    1.7    1.8
 2020-01-04        3.2    3.4    3.4    3.9    3.6    3.7    3.9    3.9    3.5
 2020-01-05        1.5    1.4    0.9    1.0    0.4    0.3    0.0   -0.4   -0.4
 ...               ...    ...    ...    ...    ...    ...    ...    ...    ...
 2020-12-27       -0.8   -1.2   -2.1   -1.2   -0.8   -1.2   -1.2   -1.3   -1.4
 2020-12-28       -1.7   -1.8   -1.8   -2.0   -2.2   -2.0   -1.9   -1.6   -0.9
 2020-12-29        2.1    2.2    2.3    2.4    2.7    2.6    2.6    2.4    2.3
 2020-12-30        1.6    3.7    3.4    3.4    3.8    3.3    2.7    2.0    1.6
 2020-12-31        2.9    2.8    2.7    2.6    2.6    2.5    2.4    2.1    0.1

                 09:00  ...  15:00  16:00  17:00  18:00  19:00  20:00  21:00  \
 Datums \ Laiks         ...
 2020-01-01        0.3  ...    2.7    3.0    3.4    3.5    3.7    3.8    3.9
 2020-01-02        4.7  ...    4.9    3.9    2.4    3.0    2.5    2.2    2.6
 2020-01-03        2.5  ...    4.3    4.8    3.0    3.3    3.3    3.4    3.3
 2020-01-04        4.1  ...    2.8    2.5    2.1    2.5    2.3    2.1    2.0
 2020-01-05       -0.4  ...    1.6    1.2   -0.3   -1.7   -3.5   -4.8   -3.8
 ...               ...  ...    ...    ...    ...    ...    ...    ...    ...
 2020-12-27       -1.1  ...   -0.5   -0.6   -0.8   -0.8   -0.8   -0.8   -0.9
 2020-12-28       -0.2  ...    1.7    1.5    0.7    1.4    1.7    1.4    1.7
 2020-12-29        2.1  ...    2.5    2.4    1.9    1.3    1.2    2.0    2.6
 2020-12-30        2.3  ...    1.8    2.1    2.6    2.4    2.5    2.4    2.8
 2020-12-31        0.1  ...    1.5    1.3    1.0    1.2    1.1    0.1   -0.3

                 22:00  23:00    vidējā
 Datums \ Laiks
 2020-01-01        4.3    4.2  1.912500
 2020-01-02        2.6    2.6  3.854167
 2020-01-03        3.0    3.3  3.079167
 2020-01-04        0.3    0.0  2.679167
 2020-01-05       -2.1   -1.6 -0.295833
 ...               ...    ...       ...
 2020-12-27       -1.2   -1.5 -0.970833
 2020-12-28        1.7    1.9  0.137500
 2020-12-29        3.2    2.2  2.241667
 2020-12-30        2.7    2.8  2.566667
 2020-12-31       -0.8   -1.0  1.220833

 [366 rows x 25 columns],
                 00:00  01:00  02:00  03:00  04:00  05:00  06:00  07:00  08:00  \
 Datums \ Laiks
 2021-01-01       -1.0   -1.1   -1.2   -1.2   -1.3   -1.4   -1.3   -1.5   -1.5
 2021-01-02       -0.5   -0.4   -0.5   -0.5   -0.5   -0.3   -0.2   -0.3   -0.5
 2021-01-03       -0.1   -0.2   -0.5   -0.6   -0.9   -0.8   -0.9   -1.0   -0.9
 2021-01-04       -1.2   -1.1   -0.9   -1.0   -0.9   -0.8   -0.8   -0.9   -0.9
 2021-01-05       -0.8   -0.7   -0.7   -0.6   -0.5   -0.5   -0.4   -0.3   -0.2
 ...               ...    ...    ...    ...    ...    ...    ...    ...    ...
 2021-12-27       -4.7   -4.8   -4.8   -4.3   -5.6   -7.2   -4.0   -4.2   -4.9
 2021-12-28       -5.9   -6.0   -6.7   -7.2   -6.7   -7.3   -8.1   -8.1   -8.9
 2021-12-29       -8.7   -8.5   -8.1   -7.8   -7.8   -7.8   -7.2   -7.6   -7.8
 2021-12-30       -6.6   -6.4   -6.2   -6.0   -6.1   -6.1   -6.5   -6.2   -5.9
 2021-12-31       -0.2    0.5    0.8    1.4    1.7    1.4    1.4    1.3    2.0

                 09:00  ...  15:00  16:00  17:00  18:00  19:00  20:00  21:00  \
 Datums \ Laiks         ...
 2021-01-01       -1.4  ...   -0.8   -1.0   -0.9   -0.7   -0.7   -0.7   -0.5
 2021-01-02       -0.6  ...   -1.0   -1.0   -0.8   -0.6   -0.5   -0.4   -0.3
 2021-01-03       -1.0  ...   -1.3   -1.0   -1.1   -1.1   -1.7   -1.4   -1.3
 2021-01-04       -0.9  ...   -0.7   -0.8   -0.8   -0.7   -0.8   -0.8   -0.7
 2021-01-05       -0.2  ...    0.8    0.8    0.9    0.9    0.9    1.0    1.0
 ...               ...  ...    ...    ...    ...    ...    ...    ...    ...
 2021-12-27       -4.6  ...   -3.1   -6.2   -2.0   -1.1   -1.7   -2.2   -3.4
 2021-12-28       -9.2  ...  -10.2   -9.0   -9.3   -8.1   -8.1   -8.1   -8.4
 2021-12-29       -8.0  ...   -6.4   -6.6   -6.6   -7.0   -6.9   -6.6   -6.8
 2021-12-30       -5.8  ...   -4.0   -3.8   -3.7   -3.3   -2.9   -2.4   -1.9
 2021-12-31        2.1  ...    2.4    1.9    1.3    1.9    1.7    1.5    1.7

                 22:00  23:00    vidējā
 Datums \ Laiks
 2021-01-01       -0.4   -0.5 -1.020833
 2021-01-02        0.0   -0.1 -0.595833
 2021-01-03       -1.5   -1.4 -1.025000
 2021-01-04       -0.7   -0.6 -0.829167
 2021-01-05        0.8    1.0  0.225000
 ...               ...    ...       ...
 2021-12-27       -4.3   -5.1 -3.950000
 2021-12-28       -8.7   -8.5 -8.379167
 2021-12-29       -6.7   -6.6 -7.241667
 2021-12-30       -1.2   -0.8 -4.600000
 2021-12-31        1.6    1.4  1.554167

 [365 rows x 25 columns]]

In [129]:
temperatura=pd.concat(df)
temperatura=temperatura[["dienas vidējā temperatūra, C"]]
temperatura

                dienas vidējā temperatūra, C
Datums \ Laiks
2017-01-01                          6.016667
2017-01-02                          0.800000
2017-01-03                         -2.641667
2017-01-04                         -4.291667
2017-01-05                        -13.229167
...                                      ...
2021-12-27                         -3.950000
2021-12-28                         -8.379167
2021-12-29                         -7.241667
2021-12-30                         -4.600000
2021-12-31                          1.554167

[1826 rows x 1 columns]

savācam relatīvo mitrumu, Jelgava, 2017-2021

In [136]:
#4080
stationID=30036 # 30094 - Rīga, 30036 - Jelgava
paramID=4080 # 4001 - gaisa temp vidējā, 4341 - sniega sega stundas vidējā, 4570 nokrišņu daudzums stundas summa, 4080 -rel mitrums
startYear=2017
endYear=2021

In [132]:
for year in range(startYear,endYear+1):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    params="iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation="+str(stationID)+"&iParameter="+str(paramID)+"&iDateFrom="+StartDate+"&iDateTill="+EndDate
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    print(fname)
    
    result=reqs.post(url,verify=False,data=params, headers=headers)
    print(url,params)
    with open(fname, 'wb') as f:
        f.write(result.content)

Jelgava_Relatīvais mitrums, faktiskais_01.01.2017-31.12.2017.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4080&iDateFrom=01.01.2017&iDateTill=31.12.2017
Jelgava_Relatīvais mitrums, faktiskais_01.01.2018-31.12.2018.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4080&iDateFrom=01.01.2018&iDateTill=31.12.2018
Jelgava_Relatīvais mitrums, faktiskais_01.01.2019-31.12.2019.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4080&iDateFrom=01.01.2019&iDateTill=31.12.2019
Jelgava_Relatīvais mitrums, faktiskais_01.01.2020-31.12.2020.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4080&iDateFrom=01.01.2020&iDateTill=31.12.2020
Jelgava_Relatīvais mitrums, faktiskais_01.01.2021-31.12.2021.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4080&iDateFrom=01.01.2021&iDateTill=31.12.2021

In [137]:
df=[]

for enum, year in enumerate(range(startYear,endYear+1)):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    #df[enum]=pd.read_excel(fname)
    df.append(pd.read_excel(fname,skiprows=1,parse_dates=["Datums \ Laiks"],index_col=0,dayfirst=True))
    df[enum]["vidējais relatīvais mitrums"]=df[enum].mean(axis=1)
    #df[enum]["vidējā"]=df[enum].mean(axis=1)

'Jelgava_Relatīvais mitrums, faktiskais_01.01.2021-31.12.2021.xls'

In [140]:

relMitrums=pd.concat(df)
relMitrums=relMitrums[["vidējais relatīvais mitrums"]]
relMitrums

                vidējais relatīvais mitrums
Datums \ Laiks
2017-01-01                        94.000000
2017-01-02                        95.500000
2017-01-03                        89.583333
2017-01-04                        88.958333
2017-01-05                        68.000000
...                                     ...
2021-12-27                        89.083333
2021-12-28                        90.000000
2021-12-29                        72.000000
2021-12-30                        88.375000
2021-12-31                        99.708333

[1826 rows x 1 columns]

savācam sniega segas stundas biezumu, Jelgava, 2017-2021

In [120]:
stationID=30036 # 30094 - Rīga, 30036 - Jelgava
paramID=4341 # 4001 - gaisa temp vidējā, 4341 - sniega segas biezums stundas vidējā, cm, 4570 nokrišņu daudzums stundas summa
startYear=2017
endYear=2021

In [71]:
for year in range(startYear,endYear+1):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    params="iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation="+str(stationID)+"&iParameter="+str(paramID)+"&iDateFrom="+StartDate+"&iDateTill="+EndDate
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    print(fname)
    
    result=reqs.post(url,verify=False,data=params, headers=headers)
    print(url,params)
    with open(fname, 'wb') as f:
        f.write(result.content)

Jelgava_Sniega segas biezums, stundas vidējais_01.01.2017-31.12.2017.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4341&iDateFrom=01.01.2017&iDateTill=31.12.2017
Jelgava_Sniega segas biezums, stundas vidējais_01.01.2018-31.12.2018.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4341&iDateFrom=01.01.2018&iDateTill=31.12.2018
Jelgava_Sniega segas biezums, stundas vidējais_01.01.2019-31.12.2019.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4341&iDateFrom=01.01.2019&iDateTill=31.12.2019
Jelgava_Sniega segas biezums, stundas vidējais_01.01.2020-31.12.2020.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4341&iDateFrom=01.01.2020&iDateTill=31.12.2020
Jelgava_Sniega segas biezums, stundas vidējais_01.01.2021-31.12.2021.xls
https://www.meteo.lv/meteorologija-datu-meklesana/? iBy=station&nid=461&pMonitoringType=METEOROLOGY&iStation=30036&iParameter=4341&iDateFrom=01.01.2021&iDateTill=31.12.2021

In [123]:
df=[]

for enum, year in enumerate(range(startYear,endYear+1)):
    StartDate="01.01."+str(year)
    EndDate="31.12."+str(year)
    fname=stacijuSaraksts[str(stationID)]+"_" \
    +parametruSaraksts[str(paramID)] + "_" \
    +StartDate+"-" \
    +EndDate+".xls"
    #df[enum]=pd.read_excel(fname)
    df.append(pd.read_excel(fname,skiprows=1,parse_dates=["Datums \ Laiks"],index_col=0,dayfirst=True))
    df[enum]["vidējais sniega segas biezums, cm"]=df[enum].mean(axis=1)
    #df[enum]["vidējā"]=df[enum].mean(axis=1)

In [124]:
sniegaSega=pd.concat(df)
sniegaSega=sniegaSega[["vidējais sniega segas biezums, cm"]]
sniegaSega

                vidējais sniega segas biezums, mm
Datums \ Laiks
2017-01-01                               0.000000
2017-01-02                               0.166667
2017-01-03                               0.291667
2017-01-04                               6.750000
2017-01-05                               7.375000
...                                           ...
2021-12-27                              10.000000
2021-12-28                               9.125000
2021-12-29                               9.000000
2021-12-30                               9.125000
2021-12-31                               6.500000

[1825 rows x 1 columns]

In [80]:
nokrisni.set_index('Datums \ Laiks',inplace=True)

                summa
Datums \ Laiks
2016-08-25        0.0
2016-08-26        0.0
2016-08-27        0.0
2016-08-28        0.0
2016-08-29        0.1
...               ...
2021-12-27        0.0
2021-12-28        0.0
2021-12-29        0.0
2021-12-30        0.5
2021-12-31        1.7

[1955 rows x 1 columns]

In [173]:

kopejais=nokrisni.join(temperatura, how="outer").join(sniegaSega, how="outer").join(relMitrums, how="outer")
kopejais

,summa,"dienas vidējā temperatūra, C","vidējais sniega segas biezums, mm",vidējais relatīvais mitrums
Datums \ Laiks,,,,
2017-01-01,0.2,6.016667,0.000000,94.000000
2017-01-02,0.8,0.800000,0.166667,95.500000
2017-01-03,0.0,-2.641667,0.291667,89.583333
2017-01-04,4.0,-4.291667,6.750000,88.958333
2017-01-05,0.2,-13.229167,7.375000,68.000000
...,...,...,...,...
2021-12-27,0.0,-3.950000,10.000000,89.083333
2021-12-28,0.0,-8.379167,9.125000,90.000000
2021-12-29,0.0,-7.241667,9.000000,72.000000
2021-12-30,0.5,-4.600000,9.125000,88.375000
2021-12-31,1.7,1.554167,6.500000,99.708333

In [174]:
kopejais

,summa,"dienas vidējā temperatūra, C","vidējais sniega segas biezums, mm",vidējais relatīvais mitrums
Datums \ Laiks,,,,
2017-01-01,0.2,6.016667,0.000000,94.000000
2017-01-02,0.8,0.800000,0.166667,95.500000
2017-01-03,0.0,-2.641667,0.291667,89.583333
2017-01-04,4.0,-4.291667,6.750000,88.958333
2017-01-05,0.2,-13.229167,7.375000,68.000000
...,...,...,...,...
2021-12-27,0.0,-3.950000,10.000000,89.083333
2021-12-28,0.0,-8.379167,9.125000,90.000000
2021-12-29,0.0,-7.241667,9.000000,72.000000
2021-12-30,0.5,-4.600000,9.125000,88.375000
2021-12-31,1.7,1.554167,6.500000,99.708333

In [143]:
import math

In [144]:
def relMitrums2mitDeficits(t,h):
    return((math.exp((17.3*t)/(t+237.3))*6.11)*(1-(h/100)))

In [175]:
kopejais["mitruma deficīts"]=kopejais.apply(lambda row : relMitrums2mitDeficits(row["dienas vidējā temperatūra, C"], row["vidējais relatīvais mitrums"]), axis=1 )

In [176]:
kopejais

,summa,"dienas vidējā temperatūra, C","vidējais sniega segas biezums, mm",vidējais relatīvais mitrums,mitruma deficīts
Datums \ Laiks,,,,,
2017-01-01,0.2,6.016667,0.000000,94.000000,0.562314
2017-01-02,0.8,0.800000,0.166667,95.500000,0.291406
2017-01-03,0.0,-2.641667,0.291667,89.583333,0.523828
2017-01-04,4.0,-4.291667,6.750000,88.958333,0.490560
2017-01-05,0.2,-13.229167,7.375000,68.000000,0.704053
...,...,...,...,...,...
2021-12-27,0.0,-3.950000,10.000000,89.083333,0.497681
2021-12-28,0.0,-8.379167,9.125000,90.000000,0.324364
2021-12-29,0.0,-7.241667,9.000000,72.000000,0.992429
2021-12-30,0.5,-4.600000,9.125000,88.375000,0.504559
2021-12-31,1.7,1.554167,6.500000,99.708333,0.019944

In [177]:
kopejais["SSL"]=0
kopejais["SSS"]=0
kopejais

,summa,"dienas vidējā temperatūra, C","vidējais sniega segas biezums, mm",vidējais relatīvais mitrums,mitruma deficīts,SSL,SSS
Datums \ Laiks,,,,,,,
2017-01-01,0.2,6.016667,0.000000,94.000000,0.562314,0,0
2017-01-02,0.8,0.800000,0.166667,95.500000,0.291406,0,0
2017-01-03,0.0,-2.641667,0.291667,89.583333,0.523828,0,0
2017-01-04,4.0,-4.291667,6.750000,88.958333,0.490560,0,0
2017-01-05,0.2,-13.229167,7.375000,68.000000,0.704053,0,0
...,...,...,...,...,...,...,...
2021-12-27,0.0,-3.950000,10.000000,89.083333,0.497681,0,0
2021-12-28,0.0,-8.379167,9.125000,90.000000,0.324364,0,0
2021-12-29,0.0,-7.241667,9.000000,72.000000,0.992429,0,0
2021-12-30,0.5,-4.600000,9.125000,88.375000,0.504559,0,0
2021-12-31,1.7,1.554167,6.500000,99.708333,0.019944,0,0

In [178]:
kopejais.columns

Index(['summa', 'dienas vidējā temperatūra, C',
       'vidējais sniega segas biezums, mm', 'vidējais relatīvais mitrums',
       'mitruma deficīts', 'SSL', 'SSS'],
      dtype='object')

In [181]:
kopejais.to_excel("darbaFails.xls")

ModuleNotFoundError: No module named 'keras'